nav .menu{
    display : none;
}
@media (max-width : 600px){
    nav .menu{
        display : initial;
        z-index :100; 
    }
    nav .menu button{
        font-size: 3vh;
        background-color: transparent;
        color : black;
        border: none;
    }
    nav ul , nav .registration{
        display : none;
    }

    .page1 .content {
        flex-direction: column;
    }
    .page1 .content .left{
        width : 100%;
        padding : 0 5vw;
    }
    .page1 .content .left h1{
       font-size : 11vw;
    }
    .page1 .content .left p{
       font-size : 3vw;
    }

    .page1 .content .left .Explore-btn{
        font-size: 2vh;
        padding : 1vw 1vw;
    }

    .page1 .content .left .Subscribe-btn{
        font-size: 2vh;
        padding : 2vw 3vw;
        margin : 2vw 0;
    }

    .page1 .content .right{
       width : 100%;
       height : 50%;
    }
    .page1 .content .right img{
       height  : 100%;
    }

.offcanvas-body{
    display: flex;
    flex-direction: column;
}

.offcanvas-body a{
    width : max-content;
    text-decoration: none;
    color : black;
    padding : 1vw 2vw;
    border-radius : 25px;
    transition: 0.25s linear;
    margin :2vh 0;
}

.offcanvas-body a:hover{
    background-color: black;
    color :white;
}

/*****************page 2***************/
.page2{
    height : max-content;
    text-align : center;
}
.page2 .content{
    flex-direction: column;
}
.page2 .content .left {
    width : 100%;
    height : 20%;
    text-align: center;
}

.page2 .content .left h1{
    font-size: 9vw;
}
.page2 .content .left .explore-btn{
    display: flex;
    justify-content: center;
     
}

.page2 .content .left .explore-btn button{
    width : 30vw;
    padding : 1vw 2vw;
    font-size: 2.5vw;    
}

.page2 .content .right{
    width : 100%;
    height : 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page2 .content .right form{
    width : 45vh;   
}
.page2 .content .right form input {
margin :2vh 0;
}
/*******************page 3*******************/

.page3 .content .left{
    display: none;  
}
.page3 .content .right {
    width : 100%; 
}
.page3 .content .right h3:first-child{
    font-size: 2.5vh;
}

.page3 .content .right .greet-user h2{
    font-size: 6vh;
}
.page3 .content .right .greet-user  button{
     font-size: 2.5vw;
     padding : 1vw 2vw;

}
.page3 .content .right .plans{
    padding : 1vw;
    margin : 5vh 0;
}

.page3 .content .right .plans h3{
   font-size: 3vh;
}


.page3 .content .right .plans .pln-btn  button{
    width : 40%;
    font-size: 2vh;
}

/*********************page4 ************/
.page4{
    height :max-content;
}
.page4 .content .card {
    margin : 2vh 0;
    z-index: -1;
}
.page4 .content  .card:hover{
    scale: 1.03;
}

/***page5 *************/
.page5{
    height : max-content;
    padding :0 0;
}
.page5 .content{
    flex-direction: column;
    padding :0 0;
    justify-content: center;
}
.page5 .content .left ,.page5 .content .right{
    width : 100%;
    
}
.page5 .content .left h1{
    font-size: 9vw;
}
.page5 .content .left button{
    font-size: 3vw;
}
.page5 .content .right{
    padding : 1vh;
}

.page5 .scroller .card{
    width : 45vh;
    margin : 2vh 1vh;
}

footer {
    padding : 3vh 1vh;
}

footer ul a{
    font-size: 3vw;
}
footer p{
    font-size: 2.4vw;
}
}