*{
    margin: 0;
    padding :0;
    box-sizing: border-box;
}

html ,body{
     height : 100%;
     width : 100%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
nav , nav .right ,  nav ul , nav .registration{
    display: flex;
}

nav{
    width : 100%;
    justify-content: space-between;
    padding : 1vw 2vw;
    /* background-color: aqua; */
    align-items:center;
    position: fixed;
}

nav img{
    height : 7vh;
}

nav .right {
    align-items: center;
}
nav ul{
   gap : 3vw;
}

nav ul a{
   text-decoration: none;
   font-weight : 600;
   color : rgb(34, 34, 34);
   padding : 0.5vw 1.5vw;
   border-radius : 25px;
   transition: 0.25s linear;

}
nav ul a:hover {
    background-color: blueviolet;
    color : white;
}
nav .registration{
   gap : 1vw;
   margin-left : 2vw;
   align-items: center;
}

nav .registration button{
    padding : 0.5vw 2vw;
    font-size: 1vw;
    font-weight: 600;
    border-radius: 25px;
    border : none;
    background-color: black;
    color:white;
}

nav .registration button:hover {
    background-color: rgb(75, 75, 75);
}
nav .registration p{
    font-size: 2vw;
}

/*page1********************/
.page1{
    width : 100%;
    height : 100%;
}

 .empty{
    width : 100%;
    height : 10%;
    /* background-color: brown; */
}

.page1 .content {
    width : 100%;
    height : 90%;
    display: flex;
}

.page1 .content .left {
    width : 50%;
    height : 50%;
    padding : 5vw 4vw;
}
.page1 .content .left h1{
    font-size : 6.5vw;
    font-weight: 900;
    font-family: "bebas";
}
.page1 .content .left p{
    font-size : 1vw;
    padding : 1vw 0;
}
.page1 .content .left .Explore-btn{
    font-size : 1vw;
    font-weight: 600;
    width : 40%;
    padding : 0.6vw 1vw;
    display: flex;
    justify-content: space-between;
    border: none;
    border-bottom : 1px solid grey;
    background-color: transparent;
    margin : 2vw 0;
    transition: 0.5s linear;
}

.page1 .content .left .Explore-btn:hover {
    width : 50%;
}


.page1 .content .left .Subscribe-btn{
    font-size : 1vw;
    font-weight: 600;
    padding : 1vw 3vw;
    border-radius: 25px;
    border : none;
    background-color: blueviolet;
    color : white;
}
.page1 .content .left .Subscribe-btn:hover{
    background-color: rgb(115, 34, 192);
}

.page1 .content .right {
    width : 50%;
    height : 100%;
    display: flex;
    justify-content: center;
     align-items: center;
}

.page1 .content .right  img {
    width : 100%;
}

/***********page2 ************/
.page2{
    width : 100%;
    height : 100%;
}

.page2 .content{
    width : 100%;
    height:90%;
    display: flex;
}

.page2 .content .left{
    width : 60%;
    /* height : 100%; */
    padding : 2vh;
}
.page2 .content .left h1{
   font-size: 7vw;
   font-weight: 900;
   font-family: "bebas";
   padding : 2vh 4vh;
   transform: rotateX(90deg);
   transition: 1s linear;
}
.page2 .content .left h1 span{
    color : aquamarine;
}

.page2:hover .left h1 {
    transform: rotateX(30deg);
}



.page2 .content .left .explore-btn{
    display: flex;
}
.page2 .content .left .explore-btn button{
    font-size : 1vw;
    font-weight: 600;
    width : 30vh;
    padding : 1vw 1vw;
    display: flex;
    justify-content: space-between;
    border: none;
    background-color: blueviolet;
    color : white;
    border-radius: 25px;
    margin  : 0 2vw;
    transition: 0.25s linear;
}
.page2 .content .left button:hover{
    background-color: rgb(102, 26, 174);
}


.page2 .content .right {
    width : 40%;
    height : 100%;
    padding : 4vh;
}
.page2 .content .right form{
    width : 50vh;
    padding : 4vh;
   gap : 3vh;
   border : 2px solid rgb(0, 0, 0);
   margin : 0 auto;
   text-align: center;
   border-radius : 2vh;
   color : black;
   transition: 0.25s linear;
   
}
.page2 .content .right form:hover{
    box-shadow: 0 0 8px 8px grey;
}

.page2 .content .right form input{
    width : 90%;
    height : 5vh;
    margin : 3vh 0;;
    padding : 1vh 2vh;
    background-color: transparent;
    border : none;
    border-bottom: 2px solid rgb(0, 0, 0);
    color :rgb(0, 0, 0);
}

.page2 .content .right form textarea{
    width : 90%;
    margin : 3vh 0;
    padding : 1vh 2vh;
    border-radius : 2vh;
    background-color: transparent;
}

.page2 .content .right form button{
    padding : 1.5vh 10vh;
    font-size : 2.4vh;
    font-weight: 600;
    border-radius: 25px;
    background-color: blueviolet;
    border : none;
    color : white;
    transition: 0.25s linear;
}
.page2 .content .right  button:hover{
    background-color: rgb(102, 26, 174);
}

/***********page3 ************/
.page3{
   width : 100%;
   height : 100%;
}

.page3 .content{
    width : 100%;
    height : 90%;
    display: flex;
}

.page3 .content .left{
    width : 20%;
    height : 100%;
    background-color: rgb(199, 198, 198);
    padding : 2vw 0;
    display: flex;
    flex-direction: column;
    border-radius : 1.5vh;
}

.page3 .content .left h3{
    display: flex;
    justify-content: space-between;
    width : 100%;
   padding : 1vw 2vw;
}

.page3 .content .left a{
    width : max-content;
    text-decoration: none;
    color : black;
    padding : 1vw 2vw;
    transition: 0.25s linear;
    margin :2vh 0;
    width : 100%;
    font-weight : 600;
}
.page3 .content .left a:nth-child(3){
    background-color: black;
    color: white;
}

.page3 .content .left a:hover{
    background-color: black;
    color :white;
}

.page3 .content .right {
    width : 80%;
    height : 100%;
    padding : 0 2vw;
    
}

.page3 .content .right h3:first-child{
    font-size: 1.5vw;
}



.page3 .content .right .greet-user{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width : 100%;
    padding : 2vw 0;
    padding-right : 3vw;
}
.page3 .content .right .greet-user h2{
    font-size: 3vw;
}
.page3 .content .right .greet-user  button{
    font-size: 1vw;
    font-weight: 700;
    padding : 0.5vw 3vw;
    border-radius : 2vh;
    border:none;
    background-color: blueviolet;
    color: white;
}

.page3 .content .right .right-middle{
    height : 50%;
    width : 100%;
    background-color: rgb(172, 168, 168);
    border-radius : 2vh;
    display: flex;
    padding : 1vh;
    overflow-x: scroll;
    white-space: nowrap;
}
.page3 .content .right .right-middle::-webkit-scrollbar {
    display: none;
  }

.page3 .content .right .right-middle .box {
    height : 100%;
    width : 32vh;
    background-color: blueviolet;
    padding : 2.5vh;
    text-align: start;
    border-radius: 2vh;
    margin : 0 1.5vh;
    color : white;
}
.page3 .content .right .right-middle .box h4{
    color :black;
}

.page3 .content .right .right-middle .box .circle {
    height : 20vh;
    width : 20vh;
    background-color: white;
    color: black;
    padding : 3vh;
    border-radius : 50%;
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin : 2vh;
}

.page3 .content .right .right-middle .box2 p{
    width : 100%;
    display: flex;
    justify-content: space-between;
    padding : 1vh 0;
}

.page3 .content .right .right-middle .box3 .price{
    display: flex;
    align-items: baseline;
}
.page3 .right-middle .box3 h1{
     font-weight: 700;
     padding : 2vh 0;
}
.page3 .right-middle .box3 .price sup{
    font-size : 2vh;
    font-weight : 500;
}
.page3 .right-middle .box3 .price p{
    font-size : 2vh;
    font-weight : 500;
    
}

.page3 .content .right .plans{
    padding : 1vw;
    margin : 0.8vw 0;
}
.page3 .content .right .plans .pln-btn{
    display: flex;
}
.page3 .content .right .plans .pln-btn  button{
    font-size : 1vw;
    font-weight: 600;
    height : 6vh;
    width : 20%;
    padding : 0.6vw 1vw;
    display: flex;
    justify-content: space-between;
    border: none;
    border-bottom : 1px solid grey;
    background-color: transparent;
    margin-right  : 3vw;
    margin-top : 1vw;
    transition: 0.5s linear;
}

.page3 .content .right .plans button:hover{
    background-color: black;
    color : white;
}

/*****************page4 ****************/

.page4{
    height : 100%;
    width : 100%;
    /* background-color: black; */
    text-align: center;
    overflow: hidden;
}


.page4 .empty{
    height : 10%;
    width : 100%;
}

.page4 > .heading {
   padding : 2vh;
   font-weight : 700;
   color : black;
}
.page4 .content {
    width : 100%;
    height : 85%;
    overflow-x: scroll;
   white-space: nowrap;
   text-align: center;
   padding : 4vh 0;
}

.page4 .content .card{
    width : 45vh;
    height : 90%;
    padding : 2vh;
    border : 2px solid white;
    border-radius: 2vh;
    background-color: rgb(37, 37, 37);
    display: inline-block;
    transition : 0.25s linear;
    color :white;
    white-space: wrap;
    text-align: start;
    margin: 0  2vh;
    /* box-shadow: 9px 9px rgb(66, 64, 64) ; */
    scale : 1;
} 

.page4 .content  .card:hover{
    scale: 1.1;
}



.page4 .content .card h1:first-child{
   font-weight : 600;
   color : blueviolet;
   padding : 1vh 0;
   font-size: 4vh;
}
.page4 .content .card p{
   font-size : 1.5vh;
   line-height : 2vh;
}
.page4 .content .card .price{
    display: flex;
    align-items: center;
    padding : 2vh;
   
}
.page4 .content .card .price sup{
   font-size: 3vh;
   font-weight: 600;
   color: aquamarine;
}
.page4 .content .card .price h1{
   font-size: 5vh;
   font-weight: 600;
}
.page4 .content .card .price p{
   margin-top : 3vh;
   color : grey;
}
.page4 .content .card button{
  font-size: 2vh;
  font-weight :500;
  width : 90%;
  padding : 1.5vh 0;
  border-radius : 25px;
  background-color: rgb(61, 61, 61);
  color : white;
  border : none;
  transition : 0.25s linear;
}

.page4 .content .card button:hover{
    background-color: azure;
    color: black;
}
.page4 .content .card .check{
  padding : 5vh 0;
  width : 100%;
}
.page4 .content .card .check p{
  padding : 2vh 0;
  width : 100%;
  border-bottom : 1px solid white;
}

/******************page 5 ***********************/

.page5{
    width : 100%;
    height : 100%;
}

.page5 .content{
    width : 100%;
    height:max-content;
    display: flex;
}

.page5 .content .left{
    width : 65%;
    padding : 2vh;
    text-align: center;
}
.page5 .content .left h1{
   font-size: 6vw;
   font-weight: 900;
   font-family: "bebas";

   transition: 1s linear;
}
.page5 .content .left h1 span{
    color : rgb(0, 157, 255);
}

.page5 .content .left button{
    font-size : 1vw;
    font-weight: 600;
    padding : 1vh 5vh;
    background-color: blueviolet;
    color : white;
    border-radius: 25px;
    transition: 0.25s linear;
    border : none;
}
.page5 .content .left button:hover{
    background-color: rgb(102, 26, 174);
}


.page5 .content .right {
    width : 35%;
    display: flex;
}

.page5 .content .right .box{
    width : 100%;
    background-color: rgb(10, 10, 94);
    color : white;
    padding : 2vh;
    border-radius : 2vh;
    margin:1vh;
}
.page5 .content .right .right-l{
    padding : 0.5vh;
}
.page5 .content .right .right-r{
    padding : 0.5vh;
}
.page5 .content .right .box1{
    height : 40vh;
}

.page5 .scroller{
    width : 100%;
    white-space: nowrap;
    overflow-x: scroll;
}
.page5 .scroller::-webkit-scrollbar {
    display: none;
  }
.page5 .scroller .card{
    width : 65vh;
    height : 25vh;
    padding : 2vh;
    margin : 0 1vh;
    white-space: wrap;
    display: inline-block;
    background-color: black;
}

.page5 .scroller .card h5{
     font-size : 3vh;
     font-family: Arial, Helvetica, sans-serif;
     color : white;
}

.page5 .scroller .card p{
     color : grey;
}

footer{
    width : 100%;
    padding : 2vw;
    text-align: center;
    background-color: rgb(31, 30, 30);
}

footer ul{
    display : flex;
    gap : 5vw;
    justify-content: center;
}
footer ul a{
    font-size: 2.3vh;
    text-decoration: none;
    color : white;
}
footer ul a:hover{
    text-decoration: underline;
}
footer p{
    font-size: 2vh;
    text-decoration: none;
    color : rgb(154, 152, 152);
}









